%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 noet syntax=erlang
{erl_opts, [ warnings_as_errors,
             warn_export_all,
             {platform_define, "^R14", no_callbacks}
           ]
}.

{deps, [ {jsx, ".*", {git, "git@github.com:kivra/jsx.git",     {tag, "2.9.0"}}},
         {stdlib2,   {git, "git@github.com:kivra/stdlib2.git", {branch, master}}}
       ]
}.

{profiles, [ {test, [ {deps, [ {meck, {git, "git@github.com:kivra/meck.git", {tag, "0.8.13"}}}]},
                      {extra_src_dirs, [{"test", [{recursive, true}]}]}
                    ]
             }
           ]
}.
